/*Author: Paul Orion Weaver */

header, main, footer { display: block; }
body { background-color: #E5F6FF;
      background-image: url(images/backtnland.jpg);
      color: #003366;
	  font-family: Verdana, Arial, sans-serif;
}

header { background-color: #000066;
       color: #FFFFFF;
       font-family: "Times New Roman", Cambria, serif;
	   background-image: url(images/tnflag.gif);
	   background-position: left;
	   background-repeat: no-repeat;
	}
h1 { 
     font-size: 3em;
     margin-left: 100px;
	 line-height: 200%;
	 margin-bottom: 0;
}
nav {
	 font-weight: bold; 
	 float: left;
	 width: 144px;
}
nav ul { list-style-type: none; }
nav a { text-decoration: none; }


dl {margin-left:2em;
 }
dt   {font-weight: bold; 
}

main { margin-left: 180px;
      padding: 20px;
       background-color: #FFFFFF;
}
main ul {list-style-image: url(images/tbutton.gif);
         margin-left:4em;
}

img { border-style: none; 
}
footer { font-size: smaller;
       font-style: italic;
	   padding: 15px;
	   margin-left: 180px;
	   background-color: #ffffff;
	   text-align: center;
}
table {border:1px solid #e5f6ff;
	  width:85%;
	  border-spacing:0;
	  margin:auto;
	  }
th {border:1px solid #e5f6ff;
     padding:5px;
     color:#ffffff;
     background-color:#000066;
     }
td {border:1px solid #336666;
     padding:5px;
     }
form {margin-left:7em;
     }
label {font-weight:bold;
	  }

.movie { font-weight: bold;
		font-style: italic;
}
.school  {font-weight:bold;
}
.floatright { float: right; 
              margin-left: 20px;
}
.floatleft { float: left; 
              margin-right: 20px;
}
.italics  {font-style:italic; 
			font-size:smaller;
			}
.ytindent {margin-left:150px;
	  }
.clearboth { clear:both }
.centerit {text-align: center;}
.sup { 
    vertical-align: super;
    font-size: smaller;
     }
#container { width: 90%;
          margin-right: auto;
		  margin-left: auto;
		  min-width: 800px;
		  max-width: 1024px;
		  background-color: #E5F6FF;
		  color: #000066;
}
#address  {color:#3262A3;
      }
#sources  {margin-left: 100px;
			font-size:.85em;
		}
#sources a {text-decoration: none; 
            color:#000066;
            
			}
#send {font-size:1.2em;
	  font-weight:bold;
	  border:2px solid #3262a3;
	  color:#3262a3;
	  background-color:#e5f6ff;
	  margin-left:8em;
	  }
#songsheet {transform:rotate(4deg);
	       }
